* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

body {
    font-family: 'Golos Text', sans-serif;
}
#navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
#hero {
    background-image: url('../image/pexels-kindel-media-7688336.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 70vw;
    margin-top: 70px;    
}
#picture{
    background-image: url('../image/about-upload-generate-bg.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 300px;
}
@media only screen and (max-width: 768px){
    #picture{
       height: 150px;
    }
}
#up{
    margin-top: -40px;
    width: 400px;
    box-shadow: 0px 4px 36px rgba(112, 108, 218, 0.1);
}
.img-fluid.clogo{
    width: 15vw;
}
a{
    text-decoration-line: none;
}
.card.offer{
    border: none;
    background-color: rgb(234, 237, 239);
    box-shadow: 0px 4px 36px rgba(112, 108, 218, 0.1);
}
div#news{
    box-shadow: 0px 4px 36px rgba(112, 108, 218, 0.1);
}
.card.test{
    border:none
}
/* styles for devices */
@media only screen and (max-width: 768px){
    /* CSS rules here */
    .img-fluid.test-pic{
        display: none;
    }
  }
